<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/baseGo.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/huodong.min.css"/>
	</head>
	<body>
	<div class="fixed">
		<img src="img/wm.png"/>
	</div>
	<!-- header -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="img/logo.png" alt="金夫人婚纱摄影">
            </a>
        </div>
        <ul class="nav" id="head">
            <li><a href="/" target="_blank">官方首页</a></li>
            <li class="menu"><a href="/styleDisplay" target="_blank">风格展示</a></li>
            <li><a href="/photo" target="_blank">作品欣赏</a></li>
            <li class="menu" style="background: #d51413;"><a href="/go" target="_blank" style="">最新活动</a></li>
            <li><a href="/order" target="_blank">预约拍摄</a></li>
            <!--<li class="menu"><a href="javascript:;">关于我们</a></li>-->
            <li><a href="/login" target="_blank">登录/注册</a></li>
        </ul>
    </header>
		<div>
			<img src="img/tuangou.jpg" alt="" style="margin:120px auto;"/>
		</div>
		<div class="content">
				<div class="m6-showPic">
				<div class="m6-tit">
					<div class="show-txt">
						<ul class="txt-list">
							<li class="show">
								<h2>	【特别推荐】 优惠限时1111</h2>
								<h5>活动时间: <em>2017-02-14 至 2017-03-14</em></h5>
								<p>华北地区唯一坐拥80000㎡独家庄园外景，四大版块，览全球顶级蜜月美景，世界海景、熏香花海、皇家婚礼绿坪、复古欧陆小镇…多元化外景组合，360°瞬时转换</p>
								<div class="answer">
									<span class="look1">查看详情</span>
									<span class="go">立即参团GO!</span>
									<img src="img/go.png" class="goImg_1"/>
								</div>
								<div id="details1" class="details">
									<span class="close">收起</span>
									<div class="tab-nav">
										<div class="nav-list active">本单包含</div>
										<div class="nav-list">附赠产品</div>
										<div class="nav-list">免费服务</div>
										<div class="nav-list">购买须知</div>
									</div>
									<div class="card">
										<div class="card-list active">
											<p>拍摄照片120组，精修设计入册40组、底片全部刻盘赠送</p>
											<p>主册：18*12寸全数码美编设计入册10P</p>
											<p>幅册：12*8寸全数码美编设计入册10P</p>
											<p>尊爵VIP系列套装相册、柯达专业相纸、全PVC精装内芯装裱</p>
											
											
										</div>
										<div class="card-list">
											<p>赠送30*24寸欧式经典雕花油画框（本组）</p>
											<p>赠送24*20寸欧式经典雕花油画框（本组）</p>
											<p>赠送60寸婚礼迎宾海报（本组）</p>
											<p>赠送6*8寸亚米奇·韩国烤瓷座框（本组）</p>
											<p>赠送10*8寸 金玉琉璃·水晶座框（本组）</p>
											
										</div>
										<div class="card-list">
											<p>特色拍摄 公主馆十大高定卖座选拍1组</p>
											<p>高定礼服 戛纳影城精品拍摄礼服任选</p>
											<p>高定服务 戛纳国际影城影院贵宾区休息拍摄服务</p>
											<p>永续服务 VIP银卡会员服务</p>
											
										</div>
										<div class="card-list">
											<p>拍摄内景二大风格</p>
											<p>拍摄外景4D实景 独家花海 独家海景</p>
											<p>服装造型4套/人</p>
											<p>师资团队 资深团队</p>
											<p>拍摄类型 摄影1对2 化妆1对2</p>
											<p>拍摄时间1天</p>
											
										</div>
									</div>
								</div>
								
							</li>
							<li class="">
								<h2>	【特别推荐】 优惠限时2222</h2>
								<h5>活动时间: <em>2017-02-14 至 2017-03-14</em></h5>
								<p>品鉴美学顶端，内景选用极致韩式摄影，外景采用当下流行的情感纪实系列。</p>
								<div class="answer">
									<span class="look1">查看详情</span>
									<span class="go">立即参团GO!</span>
									<img src="img/go.png" class="goImg_1"/>
								</div>
								<div id="details2" class="details">
									<span class="close">收起</span>
									<div class="tab-nav">
										<div class="nav-list active">本单包含</div>
										<div class="nav-list">附赠产品</div>
										<div class="nav-list">免费服务</div>
										<div class="nav-list">购买须知</div>
									</div>
									<div class="card">
										<div class="card-list active">
											<p>拍摄照片120组，精修设计入册40组、底片全部刻盘赠送</p>
											<p>主册：18*12寸全数码美编设计入册10P</p>
											<p>幅册：12*8寸全数码美编设计入册10P</p>
											<p>尊爵VIP系列套装相册、柯达专业相纸、全PVC精装内芯装裱</p>
											
										</div>
										<div class="card-list">
											<p>赠送30*24寸欧式经典雕花油画框（本组）</p>
											<p>赠送24*20寸欧式经典雕花油画框（本组）</p>
											<p>赠送60寸婚礼迎宾海报（本组）</p>
											<p>赠送6*8寸亚米奇·韩国烤瓷座框（本组）</p>
											<p>赠送10*8寸 金玉琉璃·水晶座框（本组）</p>
											
										</div>
										<div class="card-list">
											<p>特色拍摄 公主馆十大高定卖座选拍1组</p>
											<p>高定礼服 戛纳影城精品拍摄礼服任选</p>
											<p>高定服务 戛纳国际影城影院贵宾区休息拍摄服务</p>
											<p>永续服务 VIP银卡会员服务</p>
											
										</div>
										<div class="card-list">
											<p>拍摄内景二大风格</p>
											<p>拍摄外景4D实景 独家花海 独家海景</p>
											<p>服装造型4套/人</p>
											<p>师资团队 资深团队</p>
											<p>拍摄类型 摄影1对2 化妆1对2</p>
											<p>拍摄时间1天</p>
											
										</div>
									</div>
								</div>
								
							</li>
							<li class="">
								<h2>	【特别推荐】 优惠限时3333</h2>
								<h5>活动时间: <em>2017-02-14 至 2017-03-14</em></h5>
								<p>华北地区唯一坐拥80000㎡独家庄园外景，四大版块，览全球顶级蜜月美景，世界海景、熏香花海、皇家婚礼绿坪、复古欧陆小镇…多元化外景组合，360°瞬时转换</p>
								<div class="answer">
									<span class="look1">查看详情</span>
									<span class="go">立即参团GO!</span>
									<img src="img/go.png" class="goImg_1"/>
								</div>
								<div id="details3" class="details">
									<span class="close">收起</span>
									<div class="tab-nav">
										<div class="nav-list active">本单包含</div>
										<div class="nav-list">附赠产品</div>
										<div class="nav-list">免费服务</div>
										<div class="nav-list">购买须知</div>
									</div>
									<div class="card">
										<div class="card-list active">
											<p>拍摄照片120组，精修设计入册40组、底片全部刻盘赠送</p>
											<p>主册：18*12寸全数码美编设计入册10P</p>
											<p>幅册：12*8寸全数码美编设计入册10P</p>
											<p>尊爵VIP系列套装相册、柯达专业相纸、全PVC精装内芯装裱</p>
											
											
										</div>
										<div class="card-list">
											<p>赠送30*24寸欧式经典雕花油画框（本组）</p>
											<p>赠送24*20寸欧式经典雕花油画框（本组）</p>
											<p>赠送60寸婚礼迎宾海报（本组）</p>
											<p>赠送6*8寸亚米奇·韩国烤瓷座框（本组）</p>
											<p>赠送10*8寸 金玉琉璃·水晶座框（本组）</p>

										</div>
										<div class="card-list">
											<p>特色拍摄 公主馆十大高定卖座选拍1组</p>
											<p>高定礼服 戛纳影城精品拍摄礼服任选</p>
											<p>高定服务 戛纳国际影城影院贵宾区休息拍摄服务</p>
											<p>永续服务 VIP银卡会员服务</p>

										</div>
										<div class="card-list">
											<p>拍摄内景二大风格</p>
											<p>拍摄外景4D实景 独家花海 独家海景</p>
											<p>服装造型4套/人</p>
											<p>师资团队 资深团队</p>
											<p>拍摄类型 摄影1对2 化妆1对2</p>
											<p>拍摄时间1天</p>

										</div>
									</div>
								</div>
								
							</li>


						</ul>
					</div>
					<div class="show-list">
						<span class="row">
							<i class="arrow">&rarr;</i>
						</span>
						<ul class="pic-list">
							<li class="show"><img src="img/m61.png"/></li>
							<li><img src="img/m62.png"/></li>
							<li><img src="img/m63.png"/></li>
						</ul>
					</div>
				</div>
					<div class="m6-list">

					</div>

				</div>
			</div>
		
<div class="content content2">
				<div class="m6-showPic">
				<div class="m6-tit">
					<div class="show-txt2">
						<ul class="txt-list2">
							<li class="show">
								<h2>	【特别推荐】 优惠限时1111</h2>
								<h5>活动时间: <em>2017-02-14 至 2017-03-14</em></h5>
								<p>华北地区唯一坐拥80000㎡独家庄园外景，四大版块，览全球顶级蜜月美景，世界海景、熏香花海、皇家婚礼绿坪、复古欧陆小镇…多元化外景组合，360°瞬时转换</p>
								<div class="answer">
									<span class="look1">查看详情</span>
									<span class="go2">立即参团GO!</span>
									<img src="img/go.png" class="goImg_2"/>
								</div>
								<div id="details1" class="details">
									<span class="close">收起</span>
									<div class="tab-nav">
										<div class="nav-list active">本单包含</div>
										<div class="nav-list">附赠产品</div>
										<div class="nav-list">免费服务</div>
										<div class="nav-list">购买须知</div>
									</div>
									<div class="card">
										<div class="card-list active">
											<p>拍摄照片120组，精修设计入册40组、底片全部刻盘赠送</p>
											<p>主册：18*12寸全数码美编设计入册10P</p>
											<p>幅册：12*8寸全数码美编设计入册10P</p>
											<p>尊爵VIP系列套装相册、柯达专业相纸、全PVC精装内芯装裱</p>
											
											
										</div>
										<div class="card-list">
											<p>赠送30*24寸欧式经典雕花油画框（本组）</p>
											<p>赠送24*20寸欧式经典雕花油画框（本组）</p>
											<p>赠送60寸婚礼迎宾海报（本组）</p>
											<p>赠送6*8寸亚米奇·韩国烤瓷座框（本组）</p>
											<p>赠送10*8寸 金玉琉璃·水晶座框（本组）</p>
											
										</div>
										<div class="card-list">
											<p>特色拍摄 公主馆十大高定卖座选拍1组</p>
											<p>高定礼服 戛纳影城精品拍摄礼服任选</p>
											<p>高定服务 戛纳国际影城影院贵宾区休息拍摄服务</p>
											<p>永续服务 VIP银卡会员服务</p>
											
										</div>
										<div class="card-list">
											<p>拍摄内景二大风格</p>
											<p>拍摄外景4D实景 独家花海 独家海景</p>
											<p>服装造型4套/人</p>
											<p>师资团队 资深团队</p>
											<p>拍摄类型 摄影1对2 化妆1对2</p>
											<p>拍摄时间1天</p>
											
										</div>
									</div>
								</div>
								
							</li>
							<li class="">
								<h2>	【特别推荐】 优惠限时2222</h2>
								<h5>活动时间: <em>2017-02-14 至 2017-03-14</em></h5>
								<p>品鉴美学顶端，内景选用极致韩式摄影，外景采用当下流行的情感纪实系列。</p>
								<div class="answer">
									<span class="look1">查看详情</span>
									<span class="go2">立即参团GO!</span>
									<img src="img/go.png" class="goImg_2"/>
								</div>
								<div id="details2" class="details">
									<span class="close">收起</span>
									<div class="tab-nav">
										<div class="nav-list active">本单包含</div>
										<div class="nav-list">附赠产品</div>
										<div class="nav-list">免费服务</div>
										<div class="nav-list">购买须知</div>
									</div>
									<div class="card">
										<div class="card-list active">
											<p>拍摄照片120组，精修设计入册40组、底片全部刻盘赠送</p>
											<p>主册：18*12寸全数码美编设计入册10P</p>
											<p>幅册：12*8寸全数码美编设计入册10P</p>
											<p>尊爵VIP系列套装相册、柯达专业相纸、全PVC精装内芯装裱</p>
											
										</div>
										<div class="card-list">
											<p>赠送30*24寸欧式经典雕花油画框（本组）</p>
											<p>赠送24*20寸欧式经典雕花油画框（本组）</p>
											<p>赠送60寸婚礼迎宾海报（本组）</p>
											<p>赠送6*8寸亚米奇·韩国烤瓷座框（本组）</p>
											<p>赠送10*8寸 金玉琉璃·水晶座框（本组）</p>
											
										</div>
										<div class="card-list">
											<p>特色拍摄 公主馆十大高定卖座选拍1组</p>
											<p>高定礼服 戛纳影城精品拍摄礼服任选</p>
											<p>高定服务 戛纳国际影城影院贵宾区休息拍摄服务</p>
											<p>永续服务 VIP银卡会员服务</p>
											
										</div>
										<div class="card-list">
											<p>拍摄内景二大风格</p>
											<p>拍摄外景4D实景 独家花海 独家海景</p>
											<p>服装造型4套/人</p>
											<p>师资团队 资深团队</p>
											<p>拍摄类型 摄影1对2 化妆1对2</p>
											<p>拍摄时间1天</p>
											
										</div>
									</div>
								</div>
								
							</li>
							<li class="">
								<h2>	【特别推荐】 优惠限时3333</h2>
								<h5>活动时间: <em>2017-02-14 至 2017-03-14</em></h5>
								<p>华北地区唯一坐拥80000㎡独家庄园外景，四大版块，览全球顶级蜜月美景，世界海景、熏香花海、皇家婚礼绿坪、复古欧陆小镇…多元化外景组合，360°瞬时转换</p>
								<div class="answer">
									<span class="look1">查看详情</span>
									<span class="go2">立即参团GO!</span>
									<img src="img/go.png" class="goImg_2"/>
								</div>
								<div id="details3" class="details">
									<span class="close">收起</span>
									<div class="tab-nav">
										<div class="nav-list active">本单包含</div>
										<div class="nav-list">附赠产品</div>
										<div class="nav-list">免费服务</div>
										<div class="nav-list">购买须知</div>
									</div>
									<div class="card">
										<div class="card-list active">
											<p>拍摄照片120组，精修设计入册40组、底片全部刻盘赠送</p>
											<p>主册：18*12寸全数码美编设计入册10P</p>
											<p>幅册：12*8寸全数码美编设计入册10P</p>
											<p>尊爵VIP系列套装相册、柯达专业相纸、全PVC精装内芯装裱</p>
											
											
										</div>
										<div class="card-list">
											<p>赠送30*24寸欧式经典雕花油画框（本组）</p>
											<p>赠送24*20寸欧式经典雕花油画框（本组）</p>
											<p>赠送60寸婚礼迎宾海报（本组）</p>
											<p>赠送6*8寸亚米奇·韩国烤瓷座框（本组）</p>
											<p>赠送10*8寸 金玉琉璃·水晶座框（本组）</p>

										</div>
										<div class="card-list">
											<p>特色拍摄 公主馆十大高定卖座选拍1组</p>
											<p>高定礼服 戛纳影城精品拍摄礼服任选</p>
											<p>高定服务 戛纳国际影城影院贵宾区休息拍摄服务</p>
											<p>永续服务 VIP银卡会员服务</p>

										</div>
										<div class="card-list">
											<p>拍摄内景二大风格</p>
											<p>拍摄外景4D实景 独家花海 独家海景</p>
											<p>服装造型4套/人</p>
											<p>师资团队 资深团队</p>
											<p>拍摄类型 摄影1对2 化妆1对2</p>
											<p>拍摄时间1天</p>

										</div>
									</div>
								</div>
								
							</li>


						</ul>
					</div>
					<div class="show-list2">
						<span class="row">
							<i class="arrow2">&rarr;</i>
						</span>
						<ul class="pic-list2">
							<li class="show"><img src="img/go1.jpg"/></li>
							<li><img src="img/go2.jpg"/></li>
							<li><img src="img/go3.jpg"/></li>
						</ul>
					</div>
				</div>
					<div class="m6-list">

					</div>

				</div>
			</div>
		<footer class="foot">
			<a href="javascript:;">
				<img src="img/footer.png" alt="" />
			</a>
		</footer>
		<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="/js/go.min.js"></script>
	</body>
</html>

