<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>金夫人婚纱摄影网站</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/lunbo.min.css">
    <link rel="stylesheet" href="/css/media.min.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="金夫人婚纱摄影">
            </a>
        </div>
        <!-- 大屏幕显示 -->
        <ul class="nav">
            <li style="background: #d51413;"><a href="/" target="_blank">官方首页</a></li>
            <li class="menu"><a href="/styleDisplay" target="_blank">风格展示</a></li>
            <li><a href="/photo" target="_blank">作品欣赏</a></li>
            <li class="menu"><a href="/go" target="_blank">最新活动</a></li>
            <li><a href="/order" target="_blank">预约拍摄</a></li>
            <li><a class="gotoLogin" href="/login" target="_blank">登录/注册</a></li>
        </ul>
        <!-- 小屏幕显示 -->
        <div class="mob-nav">
            <span class="t1"></span>
            <span class="t2"></span>
            <span class="t3"></span>
        </div>
        <div class="mob-down">
            <ul>
                <li><a href="">&#x9996;&#x9875; </a></li>
                <li><a href="/">首页</a></li>
                <li><a href="/styleDisplay">风格展示</a></li>
                <li><a href="/photo">作品欣赏</a></li>
                <li><a href="/go">最新活动</a></li>
                <li><a href="/order">预约拍摄</a></li>
                <li><a class="gotoLogin" href="/login">登录/注册</a></li>
            </ul>
        </div>
    </header>
    <!-- 客服帮助 -->
    <div class="return">
    <ul>
     <li class="qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2943844470&site=qq&menu=yes"><i></i></a></li>
     <li class="tel"><a href="javascript:void(0)"><i></i></a ></li>
     <li class="toTop"><span href="####"><i></i></span></li>
    </ul>
   </div>
    <!-- 第二部分 slider轮播部分 -->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/img/lunbo1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="" alt="Second slide" data-src="/img/lunbo2.jpg">
            </div>
            <div class="item">
                <img src="" alt="Third slide" data-src="/img/lunbo3.jpg">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lt;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&gt;</a>
    </div>
    <!-- 第二部分 最近活动 -->
    <div class="current">
        <div class="title">
            <h3>热门活动</h3>
            <span>HOT ACTIVITY</span>
        </div>
        <div class="content clearfix">
            <div class="left_1 fl">
                <a class="cover" href="/go"><img src="" data-src="/img/qinxin9.jpg"></a>
                <div class="theme">
                    <span>重返影像时代</span>
                </div>
            </div>
            <div class="right_1 fr">
                <a class="cover" href="/go"><img src="" data-src="/img/qinxin7.jpg"></a>
                <div class="theme">
                    <span>重返影像时代</span>
                </div>
            </div>
        </div>
        <div class="content clearfix content_2">
            <div class="left_1 fl">
                <a class="cover" href="/go"><img src="" data-src="/img/qinxin8.jpg"></a>
                <div class="theme">
                    <span>重返影像时代</span>
                </div>
            </div>
            <div class="right_1 fr">
                <a class="cover" href="/go"><img src="" data-src="/img/qinxin90.jpg"></a>
                <div class="theme">
                    <span>重返影像时代</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 第三部分 更多样品-->
    <div class="sample">
        <div class="bg">
            <div class="more">
                <div class="text">
                    <div class="top">
                        <h1 class="photo">SAMPLE PHOTOS</h1>
                        <h2 class="newPhoto">全新样照</h2>
                    </div>
                </div>
                <div class="textContent">
                    <div class="bottom">
                        <h6 class="understand">WHEN WE KNOW HOW TO LOVE A PERSON, IS THE EMOTIONAL MATURITY; AND WHEN WE KNOW</br>
 ANOTHER PERSON'S LOVE, IS THE LOVE OF MATURE.</h6>
                        <a class="btn" href="/photo">更多样照</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 第四部分 样品介绍-->
    <div class="work clearfix">
        <div class="work_left">
            <div class="dream four">
                <div class="dreamImg workCover">
                    <a class="cover" href="/photo">
                        <img src="" data-src="/img/dream1.jpg">
                    </a>
                    <div class="workMore">
                        <img src="" data-src="/img/jiantou.png">
                    </div>
                </div>
                <div class="dreamTitle workTitle">
                    <a href="javascript:;">梦中婚礼
                        <span>Dream wedding</span>
                        </a>
                </div>
            </div>
            <div class="perfect four">
                <div class="perfectImg workCover">
                    <a class="cover" href="/photo">
                        <img src="" data-src="/img/perfect2.jpg">
                    </a>
                    <div class="workMore">
                        <img src="" data-src="/img/jiantou.png">
                    </div>
                </div>
                <div class="perfectTitle workTitle">
                    <a href="javascript:;">完美假期
                        <span>Perfect holiday</span>
                        </a>
                </div>
            </div>
        </div>
        <div class="work_middle">
            <div class="couple four">
                <div class="coupleImg workCover">
                    <a class="cover" href="/photo">
                        <img src="" data-src="/img/couple.jpg">
                    </a>
                    <div class="workMore">
                        <img src="" data-src="/img/jiantou.png">
                    </div>
                </div>
                <div class="coupleTitle workTitle">
                    <a href="javascript:;">天生一对
                        <span>Perfect Couple</span>
                        </a>
                </div>
            </div>
        </div>
        <div class="work_right">
            <div class="tree four">
                <div class="treeImg workCover">
                    <a class="cover" href="/photo">
                        <img src="" data-src="/img/tree4.jpg">
                    </a>
                    <div class="workMore">
                        <img src="" data-src="/img/jiantou.png">
                    </div>
                </div>
                <div class="treeTitle workTitle">
                    <a href="javascript:;">丛林雾语
                        <span>Jungle mist</span>
                        </a>
                </div>
            </div>
            <div class="time four">
                <div class="timeImg workCover">
                    <a class="cover" href="/photo">
                        <img src="" data-src="/img/time5.jpg">
                    </a>
                    <div class="workMore">
                        <img src="" data-src="/img/jiantou.png">
                    </div>
                </div>
                <div class="perfectTitle workTitle">
                    <a href="javascript:;">漫步时光
                        <span>Walking time</span>
                        </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 第五部分 人气外景-->
    <div class="view">
        <div class="vTitle">
            <h3>拍摄外景</h3>
            <span>VENUE DESCRIPTION</span>
        </div>
        <div class="vSite clearfix">
            <div class="vContent">
                <div class="first vCover">
                    <a class="cover" href="/styleDisplay">
                        <img src="" data-src="/img/1.jpg">
                    </a>
                    <div class="vMore">
                        <img src="" data-src="/img/jiantou2.png">
                    </div>
                </div>
                <div class="fTitle">
                    <a href="/styleDisplay">欧陆·戛纳明星广场
                    <span>巨资打造欧陆华丽明星广场</span>
                    </a>
                </div>
            </div>
            <div class="vContent mountain vIpad">
                <div class="first vCover">
                    <a class="cover" href="/styleDisplay">
                        <img src="" data-src="/img/2.jpg">
                    </a>
                    <div class="vMore">
                        <img src="" data-src="/img/jiantou2.png">
                    </div>
                </div>
                <div class="fTitle">
                    <a href="/styleDisplay">台山海景· 浪琴湾
                    <span>绝美的弧形海岸线让你领略真正的碧海蓝天</span>
                    </a>
                </div>
            </div>
            <div class="vContent">
                <div class="first vCover">
                    <a class="cover" href="/styleDisplay">
                        <img src="" data-src="/img/3.jpg">
                    </a>
                    <div class="vMore">
                        <img src="" data-src="/img/jiantou2.png">
                    </div>
                </div>
                <div class="fTitle">
                    <a href="/styleDisplay">塞纳河畔
                    <span>法式轻奢江边景</span>
                    </a>
                </div>
            </div>
            <!-- 第二行 -->
             <div class="vContent vIpad">
                <div class="first vCover">
                    <a class="cover" href="/styleDisplay">
                        <img src="" data-src="/img/4.jpg">
                    </a>
                    <div class="vMore">
                        <img src="" data-src="/img/jiantou2.png">
                    </div>
                </div>
                <div class="fTitle">
                    <a href="/styleDisplay">皇家城堡之水晶教堂
                    <span>承载所有梦幻想象的美丽天堂</span>
                    </a>
                </div>
            </div>
            <div class="vContent mountain">
                <div class="first vCover">
                    <a class="cover" href="/styleDisplay">
                        <img src="" data-src="/img/5.jpg">
                    </a>
                    <div class="vMore">
                        <img src="" data-src="/img/jiantou2.png">
                    </div>
                </div>
                <div class="fTitle">
                    <a href="/styleDisplay">巴比伦花海
                    <span>365天花期不断档的人间仙境</span>
                    </a>
                </div>
            </div>
            <div class="vContent vIpad">
                <div class="first vCover">
                    <a class="cover" href="/styleDisplay">
                        <img src="" data-src="/img/6.jpg">
                    </a>
                    <div class="vMore">
                        <img src="" data-src="/img/jiantou2.png">
                    </div>
                </div>
                <div class="fTitle">
                    <a href="/styleDisplay">苏格兰马道
                    <span>给你油画般的英伦骑士范</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 第六部分 客照大赏-->
    <div class="guest">
         <div class="gTitle">
            <h3>客照大赏</h3>
            <span>NEW GUEST PHOTOS</span>
        </div> 
        <div class="gPhoto clearfix">
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz1.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz2.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz3.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz4.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>

            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz5.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz6.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz7.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz8.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
             <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz3.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
            <div class="gContent">
                <a class="cover2" href="/photo">
                    <img src="" data-src="/img/cz6.png">
                </a>
                <div class="wed">
                    <p>黄先生&陈小姐</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 第七部分 底部版本 联系方式-->
    <footer class="foot">
        <div class="footContent">
            <h2 class="footTitle">FOLLOW US</h2>
            <div class="contact clearfix">
                <div class="weixin">
                    <div class="wImg">
                        <img src="" data-src="/img/weixin.png">
                        <div class="erWeiMa">
                            <img src="" data-src="/img/weixin2.png">
                        </div>
                    </div>
                    <p class="wTitle">
                        欢迎订阅金夫人官方微信
                        <span>gzjfr121314</span>
                    </p>
                </div>
                <div class="weibo">
                    <div class="bImg">
                        <img src="" data-src="/img/weibo.png">
                        <div class="erWeiMa">
                            <img src="" data-src="/img/weibo2.png">
                        </div>
                    </div>
                    <p class="wTitle">
                        欢迎关注金夫人官方微博
                        <span>金夫人婚纱摄影广州站</span>
                    </p>
                </div>
                <div class="phone">
                    <div class="phImg">
                        <img src="" data-src="/img/phone.png">
                    </div>
                    <p class="wTitle">
                        欢迎拨打金夫人热线电话
                        <span>4008-856-830</span>
                    </p>
                </div>
            </div>
            <div class="workFriend">
                <div class="workTime clearfix">
                    <p class="limit">工作时间：周一至周日 9：00--22:03</p>
                    <a href="javascript:;">
                        <img src="" data-src="/img/gsj.png">
                        <p class="link">广州市工商局<br>红盾电子链接标识</p>
                    </a>
                    <a href="javascript:;">
                        <img src="" data-src="/img/gaj.png">
                        <p class="link">广州市工商局<br>红盾电子链接标识</p>
                    </a>
                </div>
                <div class="friend">
                    <div class="tell">热线电话：020-61265177</div>
                    <div class="friendLink">
                        友情链接：
                        <br>
                        <a href="javascript:;">广州金夫人官方网站</a>
                        <span> | </span>
                        <a href="javascript:;">关于我们</a>
                        <p class="detail">
                            地址：广州市越秀区小北路200号
                            <br>
                            ©Copyright 2009-2016 版权所有
                            <strong>广州金夫人婚纱艺术摄影有限公司</strong>
                            <br>
                            增值电信业务经营许可证：
                            <a href="javascript:;">粤ICP备09070063号</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mobNav.min.js"></script>
    <script type="text/javascript" src="/js/mousewheel.js"></script>
</body>
</html>
