<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>金夫人婚纱摄影</title>
	<link rel="stylesheet" href="/css/base1.css">
	<link rel="stylesheet" href="/css/book.css">
</head>
<body class="bg">
<!-- 整个页面 -->
	<div>
		<div class="bookText">
			<div class="head">
				<a href="/"><img src="/img/logo.png" alt=""></a>
			</div>
			<div class="row">
				<h1>[新]金夫人女王节特别企划，爆款套系限时秒杀！!</h1>
			</div>
			<div class="bookForm">
				<div>
					<label for="service" class="need">您需要咨询的服务</label> 
					<input type="radio" name="service" class="service" >
					<span class="sText">婚纱照</span>
					<input type="radio" name="service" class="service" >
					<span class="sText">旅拍（三亚，大连，丽江，其他）</span>
					<span class="tip"><i class="iTip"></i>请填写需要咨询的服务</span> 
				</div>
				<div class="timeBox">
					<label for="time" class="need">您理想的拍摄时间</label>
					<input type="radio" name="time" id="time"><span class="sText">三个月内</span>
					<input type="radio" name="time" id="time"><span class="sText">半年内</span>
					<input type="radio" name="time" id="time"><span class="sText">1-2年内</span>
					<input type="radio" name="time" id="time"><span class="sText">不确定</span>
					<span class="tip"><i class="iTip"></i>请选择拍摄时间</span>
				</div>
				<div>
					<label for="user" class="need user">姓名</label>
					<div class="userBox">
						<input type="text" id="user">
						<i></i>
						<i class="iTip uTip"></i>
						<span class="tip name"></span>
					</div>
				</div>
				<div>
					<label for="phone" class="need phone">手机</label>
					<div class="userBox">
						<input type="text" id="phone">
						<i id="phoneBg"></i>
						<i class="iTip pTell"></i>
						<span class="tip tell"></span>
					</div>
				</div>
				<div>
					<label for="contact" class="need">微信</label>
					<div style="position: relative;">
						<input type="text" id="contact">
						<i class="iTip wTip"></i>
						<span class="tip wx"></span>
					</div>
				</div>
				<div>
					<label for="city" class="need">城市</label>
					<div style="position: relative;">
						<input type="text" id="city">
						<i class="iTip cTip"></i>
						<span class="tip city"></span>
					</div>
				</div>
				<div style="width:100%;text-align: center;"><a href="javascript:;" class="bookSumit">立即预约</a></div>
			</div>
		</div>
	</div>
	<footer>
		<a href="javascript:;">
			<span class="fSpan">Powered by</span>
			<i class="data"></i>
			<span>金数据</span>
		</a>
	</footer>
	<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/js/until.js"></script>
	<script type="text/javascript" src="/js/book.js"></script>
</body>
</html>