<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/baseGo.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/works.min.css"/>
	</head>
	<body>
	<!-- header -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="img/logo.png" alt="金夫人婚纱摄影">
            </a>
        </div>
        <ul class="nav" id="head">
            <li><a href="/" target="_blank">官方首页</a></li>
            <li class="menu"><a href="/styleDisplay" target="_blank">风格展示</a></li>
            <li style="background: #d51413;"><a href="/photo" target="_blank">作品欣赏</a></li>
            <li class="menu"><a href="/go" target="_blank">最新活动</a></li>
            <li><a href="/order" target="_blank">预约拍摄</a></li>
            <!--<li class="menu"><a href="javascript:;">关于我们</a></li>-->
            <li><a href="/login" target="_blank">登录/注册</a></li>
        </ul>
    </header>
	<div class="container">
 		<div class="wrap-title">
 			<div class="title">
 				<img src="img/zp-tit.png">
	 			<p>对于金夫人来说，美是不可拒绝的沉溺，它让人感到非常奢华，非常愉悦，非常难以言喻.......即使面对万千风格不同的新人，我们的视线，仍不可避免的被令人心生荡漾的美锁定。</p>
	 			<p>FOR MRS KING, NOT BE REFUSED TO ADDICTION, IT FEELS VERY LUXURIOUS, VERY CHEERFUL, VERY UNSPEAKABLE... EVEN IN THE FACE OF ALL STYLE IS DIFFERENT, OUR LINE OF SIGHT, IS STILL INEVITABLY MAKES THE HEART RIPPLES THE BEAUTY OF THE LOCK</p>
 			</div>

 		</div>
 		
 		<div class="our-works clearfix">
 			<ul class="clearfix work-list">
			</ul>
 		</div>
 		
 		<div id="more">加载更多</div>
 		<div id="toTop">
 			<i></i>
 			<span>返回顶部</span>
 		</div>
	</div>	
	<script src="/js/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/works.min.js"></script>
	</body>
</html>

