<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>金夫人婚纱摄影网站</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/media.min.css">
    <link rel="stylesheet" href="/css/styleDisplay.min.css">
</head>

<body>
    <div class="wrapper clearfix" id="wrapper" style="overflow:auto;">
        <div class="left fl">
            <ul class="product">
                <li class="active box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
                <li class="box">
                    <img class="DaoImg" src="" alt="">
                </li>
            </ul>
            <a href="javascript:;" class="prev">&lt;</a>
            <a href="javascript:;" class="next">&gt;</a>
        </div>
        <div class="right fr">
            <div class="theme2">
                <h2 class="hh1" id="Daotitle"></h2>
                <h4>主题：<span id="Daotheme"></span></h4>
                <h4>风格：<span  id="Daostyle"></span></h4>
                <h4>主题描述：</h4>
                <span class="miaoshu" id="Daotxt"></span>
                <h3>最新主题</h3>
                <h3>最新活动</h3>
                <a href="/order" class="prebook">点击预约</a>
                <a  class="back" style="cursor:pointer;">返回上层</a>
                <div class="line"></div>
                <ul class="themeImg clearfix">
                    <li class="themeLi Li_1 on">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi Li_1">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi Li_1">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi Li_1">
                         <img class="daoimg" src="" alt="">
                    </li>
                    <li class="themeLi">
                         <img class="daoimg" src="" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="img/logo.png" alt="金夫人婚纱摄影">
            </a>
        </div>
        <ul class="nav">
         	<li><a href="/" target="_blank">官方首页</a></li>
            <li class="menu" style="background: #d51413;"><a href="/styleDisplay" target="_blank">风格展示</a></li>
            <li><a href="/photo" target="_blank">作品欣赏</a></li>
            <li class="menu"><a href="/go" target="_blank">最新活动</a></li>
            <li><a href="/order" target="_blank">预约拍摄</a></li>
            <!--<li class="menu"><a href="javascript:;">关于我们</a></li>-->
            <li><a href="/login" target="_blank">登录/注册</a></li>
        </ul>
        <!-- 小屏幕显示 -->
        <div class="mob-nav">
            <span class="t1"></span>
            <span class="t2"></span>
            <span class="t3"></span>
        </div>
        <div class="mob-down">
            <ul>
                <li><a href="">&#x9996;&#x9875; </a></li>
                <li><a href="">原创作品</a></li>
                <li><a href="">真实客照</a></li>
                <li><a href="">电影制造</a></li>
                <li><a href="">最新活动</a></li>
                <li><a href="">高端会所</a></li>
                <li><a href="">全球旅拍</a></li>
                <li><a href="">品牌介绍</a></li>
                <li><a href="">品牌礼服</a></li>
                <li><a href="">新闻中心</a></li>
                <li><a href="">招聘信息</a></li>
            </ul>
        </div>
    </header>
    <!-- 第二部分 风格展示页面的背景图 -->
    <div class="second">
        <!-- 背景图 -->
        <div class="styleBg">
            <img src="/hgImg/styleBg.jpg" alt="风格展示图">
        </div>
    </div>
    <!-- 第三部分 风格展示具体内容 -->
    <section>
        <div class="container clearfix">
            <div class="cLeft">
                <div class="styleList clearfix">
                    <div class="screen">
                        <h4>巨资打造专业拍摄基地</h4>
                        <span></span>
                    </div>
                    <ul class="screenList screenList_1">
                        <li><a class="headline" href="javascript:;">韩宫</a></li>
                        <li><a class="headline" href="javascript:;">韩国美学概念馆</a></li>
                        <li><a class="headline" href="javascript:;">格林梦森林</a></li>
                        <li><a class="headline" href="javascript:;">欧洲文艺会馆</a></li>
                        <li><a class="headline" href="javascript:;">戛纳明星会场</a></li>
                        <li><a class="headline" href="javascript:;">地中海小镇</a></li>
                        <li><a class="headline" href="javascript:;">纯爱官</a></li>
                        <li><a class="headline" href="javascript:;">时光片场</a></li>
                        <li><a class="headline" href="javascript:;">迪士尼梦幻广场</a></li>
                        <li><a class="headline" href="javascript:;">梦幻王国漂浮城</a></li>
                        <li><a class="headline" href="javascript:;">夏威夷海岸影城</a></li>
                    </ul>
                </div>
                <div class="styleList clearfix">
                    <div class="screen">
                        <h4>巨资打造专业拍摄基地</h4>
                        <span></span>
                    </div>
                    <ul class="screenList">
                        <li><a href="javascript:;">地中海小镇</a></li>
                        <li><a href="javascript:;">地中海小镇</a></li>
                        <li><a href="javascript:;">地中海小镇</a></li>
                        <li><a href="javascript:;">地中海小镇</a></li>
                        <li><a href="javascript:;">地中海小镇</a></li>
                        <li><a href="javascript:;">地中海小镇</a></li>
                    </ul>
                </div>
            </div>
            <div class="cRight">
                <div class="styleTitle">
                    <h2>风格展示</h2>
                    <span>STYLE SHOW</span>
                    <div class="littleStyle">
                        <a href="index.html" target="_blank">首页</a> >
                        <a href="styleDisplay.html" target="_self">风格展示</a> >
                        <br>
                        <div class="caption">
                            <a href="javascript:;">基地</a> >
                            <a class="baseTitle" href="javascript:;"></a> >
                        </div>
                    </div>
                </div>
                <ul class="styleImg clearfix">
                    <li>
                        <div class="hgImg">
                            <img src="/hgImg/yuan1.jpg" alt="">
                            <div class="mask">
                                <a href="javascript:;" class="moreA">了解更多</a>
                            </div>
                        </div>
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="hgImg">
                            <img src="/hgImg/yuan2.jpg" alt="">
                             <div class="mask">
                                <a href="javascript:;" class="moreA">了解更多</a>
                            </div>
                        </div>
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="hgImg">
                             <img src="/hgImg/yuan3.jpg" alt="">
                             <div class="mask">
                                <a href="javascript:;" class="moreA">了解更多</a>
                            </div>
                        </div>
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="hgImg">
                             <img src="/hgImg/yuan4.jpg" alt="">
                             <div class="mask">
                                <a href="javascript:;" class="moreA">了解更多</a>
                            </div>
                        </div>
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li><img src="/hgImg/yuan5.jpg" alt="">
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li><img src="/hgImg/yuan6.jpg" alt="">
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li><img src="/hgImg/yuan7.jpg" alt="">
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li><img src="/hgImg/yuan8.jpg" alt="">
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li><img src="/hgImg/yuan9.jpg" alt="">
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                    <li><img src="/hgImg/yuan10.jpg" alt="">
                        <div class="styleImgTitle">
                            <a href="javascript:;">
                                戴妃行宫
                                <p>
                                    Diana palace
                                    <span>2016.12.13</span>
                                </p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- 第四部分 底部版本 联系方式-->
    <footer class="foot">
        <div class="footContent">
            <h2 class="footTitle">FOLLOW US</h2>
            <div class="contact clearfix">
                <div class="weixin">
                    <div class="wImg">
                        <img src="/img/weixin.png" alt="">
                        <div class="erWeiMa">
                            <img src="/img/weixin2.png" alt="">
                        </div>
                    </div>
                    <p class="wTitle">
                        欢迎订阅金夫人官方微信
                        <span>gzjfr121314</span>
                    </p>
                </div>
                <div class="weibo">
                    <div class="bImg">
                        <img src="/img/weibo.png" alt="">
                        <div class="erWeiMa">
                            <img src="/img/weibo2.png" alt="">
                        </div>
                    </div>
                    <p class="wTitle">
                        欢迎关注金夫人官方微博
                        <span>金夫人婚纱摄影广州站</span>
                    </p>
                </div>
                <div class="phone">
                    <div class="phImg">
                        <img src="/img/phone.png" alt="">
                    </div>
                    <p class="wTitle">
                        欢迎拨打金夫人热线电话
                        <span>4008-856-830</span>
                    </p>
                </div>
            </div>
            <div class="workFriend">
                <div class="workTime clearfix">
                    <p class="limit">工作时间：周一至周日 9：00--22:03</p>
                    <a href="javascript:;">
                        <img src="/img/gsj.png" alt="">
                        <p class="link">广州市工商局
                            <br>红盾电子链接标识</p>
                    </a>
                    <a href="javascript:;">
                        <img src="/img/gaj.png" alt="">
                        <p class="link">广州市工商局
                            <br>红盾电子链接标识</p>
                    </a>
                </div>
                <div class="friend">
                    <div class="tell">热线电话：020-61265177</div>
                    <div class="friendLink">
                        友情链接：
                        <br>
                        <a href="javascript:;">广州金夫人官方网站</a>
                        <span> | </span>
                        <a href="javascript:;">关于我们</a>
                        <p class="detail">
                            地址：广州市越秀区小北路200号
                            <br> ©Copyright 2009-2016 版权所有
                            <strong>广州金夫人婚纱艺术摄影有限公司</strong>
                            <br> 增值电信业务经营许可证：
                            <a href="javascript:;">粤ICP备09070063号</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/mobNav.min.js"></script>
    <script type="text/javascript" src="/js/styleDisplay.min.js"></script>
    <script type="text/javascript" src="/js/until.min.js"></script>
    <script type="text/javascript" src="/js/theme.min.js"></script>
</body>
</html>
