* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, "微软雅黑";
    font-size: 12px;
}
body,html{
	width: 100%;
	height: 100%;
}
a {
		font-family: "Microsoft YaHei",微软雅黑,黑体,宋体,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    text-decoration: none;
}
ul,li {
    list-style: none;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
	height:0px;
}
.clearfix{
	zoom:1;
}
.fl{
	float:left;
}
.fr{
	float:right;
}