@media screen and (max-width: 1570px){
	.left_1,.right_1{width:42%;}
}
@media screen and (max-width: 1000px){
	header{
		width: 100%;
	    height: 4em;
	    background: rgba(0, 0, 0, 0.9);
	    position: relative;
	    top: 0;
	    left:0;
	    z-index: 10;
	}
	.nav{display: none;}
	.mob-nav{display: block;}
	.carousel-control{
		bottom:0px;
	}
	.more{
		left:219px;
	}
}
@media screen and (max-width: 1300px){
	.more{
		left:150px;
	}
	.photo{
		font-size: 4em;
	}
	.newPhoto{
		font-size: 3em;
	}
}
@media screen and (max-width: 1000px) and (min-width: 770px){
	
	.work_left,.work_middle{
		width: 46%;
	}
	.work_middle{
		margin-left: 8%;
	}
	.work_right{
		width: 100%;
	}
	.tree{
		width: 46%;
		float: left;
	}
	.time{
		width: 46%;
		float: right;
	}
}
@media screen and (max-width: 770px){
	.right_1{
	   margin-top:0.5em;
	   margin-right:0.85em;
	}
	.left_1{
		margin-left:2.3em;
	}
	.content_2{
		margin-top:0.5em;
	}
	/*第三部分*/
	.more{
		left: 80px;
    width: 78%;
	}
	.text{margin-top:9em;}
	.bg{
		height: 460px;
	}
	.photo{
		font-size: 2.5em;
    letter-spacing: 0.5em;
	}
	.understand{
		line-height: 3em;
	}
	.btn{
		margin-top: 2.5em;
	}
	/*第四部分*/
	.work{
		margin-top:1em;
	}
	.work_left,.work_middle,.work_right{
		width: 100%;
	}
	.work_middle{
		margin-left: 0;
	}
	/*第四部分*/
	.mountain{
		margin-left:0;
		margin-right: 0;
	}
	.vContent{
		width:49%;
	}
	.vIpad{
		margin-left:2%;
	}
	/*客照大赏*/
	.gContent{
		width:50%;
	}
	.wed>p{
		line-height: 25em;
		background-position: 22% center;
	}
	/*****************************footer底部版本*******************************/
	.foot{height: 100%;}
	.footTitle{font-size: 2em;}
	.contact{margin-top:2em;}
	.wTitle{font-size: 1em;}
	.wTitle>span{font-size: 1.2em;}
	.workFriend{margin-top:4em;}
	.workTime,.friend{width:100%;}
	.limit{font-size: 2.2em;text-align: left;}
	.workTime>a:nth-of-type(1){margin-left: 15%;}
	.friend{margin-top:2em;}
	.tell{font-size: 2.2em;text-align: left;}
	.friendLink{margin-left:0%;font-size: 1.7em;}
}
@media screen and (max-width: 1030px) and (min-width: 770px){
	/*ipad端*/
	.right_1{
		margin-right: 2em;
	}
	.left_1{
		margin-left: 2em;
	}
}
@media screen and (max-width: 770px) and (min-width:410px){
	/*手机端phone5*/
	.right_1{
	 margin-right: 2em;
	}
}
@media screen and (max-width: 550px){
	.mob-down>ul>li>a{
		font-size: 1em;
	}
	.hot{
		height: 40px;
	}
	.carousel-control{
		font-size: 40px;
		line-height: 200px;
	}
	.carousel-indicators li {
		width: 25px;
		height: 6px;
		margin-right: 3px;
	}
	.carousel-indicators .active {
  	width: 25px;
  	height: 8px;
	}
	/*.current{                                                                                                                                                                                                                                                                                           
		padding-top:2em;
	}*/
/******热门活动*******/
	.current>.title{
		width:95%;
		padding-left:5%;
		margin-left: 0;
	}
	.title>h3{
		font-size: 2em;
	}
	.title>span{
		font-size: 1em;
	}
	.content{
		width:100%;
		margin-top:1em;
	}
	.content_2{
		margin-top:0.5em;
	}
	.left_1,.right_1{
    width:92%;
	}
	.left_1 {
    margin-left: 4%;
    margin-top: 0.5em;
}
	.right_1{
		margin-right: 4%;
    margin-top: 1em;
	}
	.current>.title>img{
		max-width: 200px;
	}
	.theme{
		font-size: 1.5em;
	}
	/*第三部分*/
	.more{
		width:100%;
		left:0px;
	}
	.text{
		margin-top:9.6em;
	}
	.photo{
		font-size: 2em
	}
	.newPhoto{
		font-size: 2em;
	}
	.btn{
		margin-top: 2em;
		padding: 1em 2em;
	}
	.btn:hover{
		font-size: 1.3em;
	}
	.workMore>img{
		width:25%;
	}
	.workCover:hover .workMore{
    bottom: 6em;
    opacity: 1;
	}
	.work{
		width:100%;
		margin-top:2em;
	}
	.four{
		width:92%;
		margin-left:4%;
	}
	.more{
		width: 100%;
		left:0;
	}
	.photo{
		font-size: 2em;
	}
	.btn:hover{
		font-size: 1.4em;
	}
	.current{
		padding-top: 0em;
	}
	.current,.view{
		margin-top: 2em;
	}
	/*第四部分*/
	.vTitle{
		width: 100%;
		padding-left: 5%;
	}
	.vTitle>h3{
		font-size: 2em;
	}
	.vTitle>span{
		font-size: 1em;
	}
	.vSite{
		margin-top:2em;
		width: 100%;
	}
	.vContent{
		width:92%;
		margin-left: 4%;
	}
	/*客照大赏*/
	.guest{
		margin-top:2em;
	}
	.gTitle{width:100%;}
	.gTitle>h3{font-size: 2em;}
	.gTitle>span{font-size: 1em;}
	.gPhoto{width:85%;margin-top: 2em;}
	.gContent{width:96%;margin-left: 4%;margin-bottom: 1.5em;}
	.wed>p{line-height: 27.5em;left: 3%;background-position: 39.9% center;}
	.cover2:after{width:86%;}
	.wed:before,.wed:after{width:77%;}
}
@media screen and (max-width: 330px){
	/*第三部分*/
	.work{
		width:100%;
		margin-top:2em;
	}
	.four{
		width:92%;
		margin-left:4%;
	}
	.more{
		width: 100%;
		left:0;
	}
	.photo{
		font-size: 2em;
	}
	.btn:hover{
		font-size: 1.4em;
	}
	.current{
		padding-top: 0em;
	}
	.current,.view{
		margin-top: 2em;
	}
	/*第四部分*/
	.vTitle{
		width: 100%;
		padding-left: 5%;
	}
	.vTitle>h3{
		font-size: 2em;
	}
	.vTitle>span{
		font-size: 1em;
	}
	.vSite{
		margin-top:2em;
		width: 100%;
	}
	.vContent{
		width:92%;
		margin-left: 4%;
	}
	/*************************************************************************/
	.gPhoto{width: 92.5%;margin-left: 2%;margin-top: 2em;}
	.cover2:after{width: 99.7%;}
	.wed:before, .wed:after{width: 90%;}
	.wed>p {line-height: 26.5em;left: 5%;}
	/*****************************footer底部版本*******************************/
	.foot{height: 1058px;}
	.footContent{width:90%;}
	.weixin,.weibo,.phone{width:100%;}
	.workFriend{margin-top:2em;}
	.workTime{margin-left:-3%;}
	.workTime>a{width:35%;margin-right: 7%;margin-top: 2em;}
	.limit{font-size: 1.3em;text-align: center;}
	.friend{margin-top: 2em;}
	.tell{font-size: 1.3em;}
	.friendLink{font-size: 1em;}
}